In [2]:
import pandas as pd


df = pd.read_csv("C:/Users/LAB PC 2/Downloads/Reporting_Sample_Dataset (1).csv")

df=pd.DataFrame(df)
df

,index,campaign_name,ad_name,adset_name,spend,impressions,clicks,unique_clicks,ad_date,publisher_platform
0,96,Campaign 4,Ad 5,Adset 6,6252.565316,39309,742,624,16-05-2021,facebook
1,97,Campaign 4,Ad 5,Adset 6,5509.664684,98919,1005,943,16-05-2021,instagram
2,98,Campaign 4,Ad 5,Adset 5,10924.877730,87666,1695,1419,16-05-2021,facebook
3,99,Campaign 4,Ad 5,Adset 5,7890.802268,216464,1747,1681,16-05-2021,instagram
4,100,Campaign 4,Ad 3,Adset 6,196.170000,1034,31,18,16-05-2021,facebook
...,...,...,...,...,...,...,...,...,...,...
360,502,Campaign 3,Ad 3,Adset 4,2526.720000,11298,199,168,31-05-2021,facebook
361,503,Campaign 3,Ad 3,Adset 4,2966.560000,23789,227,198,31-05-2021,instagram
362,504,Campaign 3,Ad 3,Adset 4,53.680000,227,2,2,31-05-2021,facebook
363,505,Campaign 3,Ad 4,Adset 4,852.100000,3837,147,98,31-05-2021,facebook
364,506,Campaign 3,Ad 4,Adset 4,39.420000,473,16,9,31-05-2021,instagram

In [3]:
x1 = df[['ad_date','publisher_platform']].value_counts()

print(x1)

ad_date     publisher_platform
28-05-2021  facebook              16
27-05-2021  facebook              16
26-05-2021  facebook              16
28-05-2021  instagram             14
27-05-2021  instagram             14
26-05-2021  instagram             14
31-05-2021  facebook              13
30-05-2021  facebook              13
29-05-2021  facebook              13
31-05-2021  instagram             12
30-05-2021  instagram             12
29-05-2021  instagram             12
16-05-2021  instagram             10
25-05-2021  instagram             10
            facebook              10
24-05-2021  instagram             10
16-05-2021  facebook              10
23-05-2021  instagram             10
            facebook              10
22-05-2021  instagram             10
            facebook              10
21-05-2021  instagram             10
            facebook              10
20-05-2021  instagram             10
            facebook              10
19-05-2021  instagram             10
            facebook              10
18-05-2021  instagram             10
            facebook              10
17-05-2021  instagram             10
            facebook              10
24-05-2021  facebook              10
Name: count, dtype: int64

In [4]:
x1 = df['ad_date'].value_counts()

print(x1)

ad_date
26-05-2021    30
27-05-2021    30
28-05-2021    30
29-05-2021    25
30-05-2021    25
31-05-2021    25
16-05-2021    20
17-05-2021    20
18-05-2021    20
19-05-2021    20
20-05-2021    20
21-05-2021    20
22-05-2021    20
23-05-2021    20
24-05-2021    20
25-05-2021    20
Name: count, dtype: int64

In [5]:
new_df = pd.DataFrame()
new_df['Platform'] = df['publisher_platform']
new_df['Ad Date'] = df['ad_date']
new_df['Total Spends'] = df['spend']
new_df['Total Impressions'] = df['impressions']
new_df['Total Clicks'] = df['clicks']
new_df['Total Unique Clicks'] = df['unique_clicks']
new_df

,Platform,Ad Date,Total Spends,Total Impressions,Total Clicks,Total Unique Clicks
0,facebook,16-05-2021,6252.565316,39309,742,624
1,instagram,16-05-2021,5509.664684,98919,1005,943
2,facebook,16-05-2021,10924.877730,87666,1695,1419
3,instagram,16-05-2021,7890.802268,216464,1747,1681
4,facebook,16-05-2021,196.170000,1034,31,18
...,...,...,...,...,...,...
360,facebook,31-05-2021,2526.720000,11298,199,168
361,instagram,31-05-2021,2966.560000,23789,227,198
362,facebook,31-05-2021,53.680000,227,2,2
363,facebook,31-05-2021,852.100000,3837,147,98
364,instagram,31-05-2021,39.420000,473,16,9

In [9]:
new_df['CPM'] = (df['spend'] * 1000) / df['impressions']
new_df['CTR'] = (df['clicks'] / df['impressions']) * 100
new_df['Unique CTR'] = (df['unique_clicks'] / df['impressions']) * 100
new_df.head(5)

,Platform,Ad Date,Total Spends,Total Impressions,Total Clicks,Total Unique Clicks,CPM,CTR,Unique CTR
0,facebook,16-05-2021,6252.565316,39309,742,624,159.061928,1.887608,1.587423
1,instagram,16-05-2021,5509.664684,98919,1005,943,55.698750,1.015983,0.953305
2,facebook,16-05-2021,10924.877730,87666,1695,1419,124.619325,1.933475,1.618643
3,instagram,16-05-2021,7890.802268,216464,1747,1681,36.453185,0.807063,0.776573
4,facebook,16-05-2021,196.170000,1034,31,18,189.719536,2.998066,1.740812